openapi: 3.1.0
info:
  title: ResolveX – Intelligent Complaint & Ticket Management Platform
  description: >
    Enterprise-grade REST API for complaint lifecycle management,
    auto‑assignment, role‑based access control, dashboards, and notifications.
  version: 1.0.0
  contact:
    name: ResolveX API Support
    email: api-support@resolvex.com

servers:
  - url: https://api.resolvex.com/api/v1
    description: Production
  - url: https://staging-api.resolvex.com/api/v1
    description: Staging

tags:
  - name: Auth
    description: Authentication & token management
  - name: Users
    description: User management (admin only)
  - name: Roles
    description: Role CRUD & assignment
  - name: Permissions
    description: Permission listing & creation
  - name: Products
    description: Product catalog & SLA configuration
  - name: Teams
    description: Team structure & members
  - name: Complaints
    description: Ticket lifecycle, comments, attachments, timeline
  - name: Notifications
    description: User notifications
  - name: Dashboard
    description: Real‑time analytics & KPIs
  - name: Analytics
    description: Cross‑entity performance summaries
  - name: System
    description: Global system settings
  - name: Webhooks
    description: Event subscriptions

security:
  - BearerAuth: []

paths:
  # ===================== AUTH =====================
  /auth/register:
    post:
      tags: [Auth]
      summary: Register a new customer account
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password, name]
              properties:
                email:
                  type: string
                  format: email
                  maxLength: 255
                password:
                  type: string
                  format: password
                  minLength: 8
                  maxLength: 128
                  pattern: '^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*])[A-Za-z\d!@#$%^&*]{8,}$'
                  description: 'At least 1 uppercase, 1 lowercase, 1 digit, 1 special character'
                name:
                  type: string
                  maxLength: 150
      responses:
        '201':
          description: Registration successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserRegisteredResponse'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'

  /auth/login:
    post:
      tags: [Auth]
      summary: Authenticate and receive access/refresh tokens
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: { type: string, format: email }
                password: { type: string, format: password }
      responses:
        '200':
          description: Tokens issued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/refresh:
    post:
      tags: [Auth]
      summary: Exchange refresh token for new access token
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refreshToken]
              properties:
                refreshToken: { type: string }
      responses:
        '200':
          description: New access token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/logout:
    post:
      tags: [Auth]
      summary: Revoke refresh token
      security: [{ BearerAuth: [] }]
      responses:
        '204':
          description: Successfully logged out

  # ===================== USERS =====================
  /users:
    get:
      tags: [Users]
      summary: List/search users (admin)
      security: [{ BearerAuth: [user:read] }]
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
        - name: search
          in: query
          schema: { type: string }
        - $ref: '#/components/parameters/SortParam'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedUsersResponse'
        '403': { $ref: '#/components/responses/Forbidden' }

  /users/me:
    get:
      tags: [Users]
      summary: Get current logged‑in user profile
      security: [{ BearerAuth: [] }]
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '401': { $ref: '#/components/responses/Unauthorized' }

  /users/{userId}:
    get:
      tags: [Users]
      summary: Get user details (admin or self)
      security: [{ BearerAuth: [user:read] }]
      parameters:
        - $ref: '#/components/parameters/UserIdParam'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '404': { $ref: '#/components/responses/NotFound' }
    put:
      tags: [Users]
      summary: Update user (admin)
      security: [{ BearerAuth: [user:update] }]
      parameters:
        - $ref: '#/components/parameters/UserIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string, maxLength: 150 }
                email: { type: string, format: email }
                isActive: { type: boolean }
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/ValidationError' }
    delete:
      tags: [Users]
      summary: Soft‑delete user (admin)
      security: [{ BearerAuth: [user:delete] }]
      parameters:
        - $ref: '#/components/parameters/UserIdParam'
      responses:
        '204': { description: Deleted }
        '409': { $ref: '#/components/responses/Conflict' }

  /users/{userId}/roles:
    post:
      tags: [Users]
      summary: Assign role(s) to a user
      security: [{ BearerAuth: [user:manage] }]
      parameters:
        - $ref: '#/components/parameters/UserIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [roleIds]
              properties:
                roleIds:
                  type: array
                  minItems: 1
                  items: { type: string, format: uuid }
      responses:
        '200':
          description: Roles assigned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '404': { $ref: '#/components/responses/NotFound' }
    delete:
      tags: [Users]
      summary: Revoke a specific role from user
      security: [{ BearerAuth: [user:manage] }]
      parameters:
        - $ref: '#/components/parameters/UserIdParam'
        - name: roleId
          in: query
          required: true
          schema: { type: string, format: uuid }
      responses:
        '204': { description: Role revoked }
        '404': { $ref: '#/components/responses/NotFound' }

  # ===================== ROLES =====================
  /roles:
    get:
      tags: [Roles]
      summary: List all roles
      security: [{ BearerAuth: [role:read] }]
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedRolesResponse'
    post:
      tags: [Roles]
      summary: Create a new role
      security: [{ BearerAuth: [role:create] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string, maxLength: 50 }
                permissionIds:
                  type: array
                  items: { type: string, format: uuid }
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleResponse'
        '422': { $ref: '#/components/responses/ValidationError' }

  /roles/{roleId}:
    get:
      tags: [Roles]
      summary: Get role details
      security: [{ BearerAuth: [role:read] }]
      parameters:
        - $ref: '#/components/parameters/RoleIdParam'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleResponse'
    put:
      tags: [Roles]
      summary: Update role (name & permissions)
      security: [{ BearerAuth: [role:update] }]
      parameters:
        - $ref: '#/components/parameters/RoleIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string, maxLength: 50 }
                permissionIds:
                  type: array
                  items: { type: string, format: uuid }
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleResponse'
        '404': { $ref: '#/components/responses/NotFound' }
    delete:
      tags: [Roles]
      summary: Delete a role (if not assigned)
      security: [{ BearerAuth: [role:delete] }]
      parameters:
        - $ref: '#/components/parameters/RoleIdParam'
      responses:
        '204': { description: Deleted }
        '409': { $ref: '#/components/responses/Conflict' }

  # ===================== PERMISSIONS =====================
  /permissions:
    get:
      tags: [Permissions]
      summary: List all permissions
      security: [{ BearerAuth: [permission:read] }]
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedPermissionsResponse'
    post:
      tags: [Permissions]
      summary: Create a new permission (admin only)
      security: [{ BearerAuth: [permission:create] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
                  maxLength: 100
                  pattern: '^[a-z]+:[a-z]+(:[a-z]+)?$'
                  description: 'Format: domain:action[:subresource] (e.g., complaint:create)'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PermissionResponse'
        '422': { $ref: '#/components/responses/ValidationError' }

  # ===================== PRODUCTS =====================
  /products:
    get:
      tags: [Products]
      summary: List products with search, filter, pagination
      security: [{ BearerAuth: [product:read] }]
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
        - name: search
          in: query
          schema: { type: string }
        - name: status
          in: query
          schema: { type: string, enum: [active, inactive] }
        - $ref: '#/components/parameters/SortParam'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedProductsResponse'
    post:
      tags: [Products]
      summary: Create a new product
      security: [{ BearerAuth: [product:create] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductCreateRequest'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductResponse'
        '422': { $ref: '#/components/responses/ValidationError' }

  /products/{productId}:
    get:
      tags: [Products]
      summary: Get product details
      security: [{ BearerAuth: [product:read] }]
      parameters:
        - $ref: '#/components/parameters/ProductIdParam'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductResponse'
        '404': { $ref: '#/components/responses/NotFound' }
    put:
      tags: [Products]
      summary: Update product
      security: [{ BearerAuth: [product:update] }]
      parameters:
        - $ref: '#/components/parameters/ProductIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductUpdateRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductResponse'
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/ValidationError' }
    delete:
      tags: [Products]
      summary: Delete product (if no active complaints)
      security: [{ BearerAuth: [product:delete] }]
      parameters:
        - $ref: '#/components/parameters/ProductIdParam'
      responses:
        '204': { description: Deleted }
        '409': { $ref: '#/components/responses/Conflict' }

  /products/{productId}/categories:
    get:
      tags: [Products]
      summary: List product categories
      security: [{ BearerAuth: [product:read] }]
      parameters:
        - $ref: '#/components/parameters/ProductIdParam'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProductCategory'
    post:
      tags: [Products]
      summary: Add category to product
      security: [{ BearerAuth: [product:update] }]
      parameters:
        - $ref: '#/components/parameters/ProductIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string, maxLength: 100 }
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductCategory'
        '404': { $ref: '#/components/responses/NotFound' }

  /products/{productId}/sla:
    get:
      tags: [Products]
      summary: Get SLA rules for product
      security: [{ BearerAuth: [product:read] }]
      parameters:
        - $ref: '#/components/parameters/ProductIdParam'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SLARule'
    put:
      tags: [Products]
      summary: Set SLA rules (replaces all)
      security: [{ BearerAuth: [product:update] }]
      parameters:
        - $ref: '#/components/parameters/ProductIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SLARule'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SLARule'

  /products/{productId}/teams:
    get:
      tags: [Products]
      summary: List teams mapped to product
      security: [{ BearerAuth: [product:read] }]
      parameters:
        - $ref: '#/components/parameters/ProductIdParam'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProductTeamMapping'
    post:
      tags: [Products]
      summary: Map a team to product
      security: [{ BearerAuth: [product:update] }]
      parameters:
        - $ref: '#/components/parameters/ProductIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [teamId]
              properties:
                teamId: { type: string, format: uuid }
                isPrimary: { type: boolean, default: false }
                loadWeight: { type: number, minimum: 0.1, default: 1.0 }
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductTeamMapping'
        '404': { $ref: '#/components/responses/NotFound' }
    delete:
      tags: [Products]
      summary: Remove team mapping
      security: [{ BearerAuth: [product:update] }]
      parameters:
        - $ref: '#/components/parameters/ProductIdParam'
        - name: teamId
          in: query
          required: true
          schema: { type: string, format: uuid }
      responses:
        '204': { description: Removed }

  # ===================== TEAMS =====================
  /teams:
    get:
      tags: [Teams]
      summary: List all teams
      security: [{ BearerAuth: [team:read] }]
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
        - name: search
          in: query
          schema: { type: string }
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedTeamsResponse'
    post:
      tags: [Teams]
      summary: Create a new team
      security: [{ BearerAuth: [team:create] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string, maxLength: 100 }
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamResponse'

  /teams/{teamId}:
    get:
      tags: [Teams]
      summary: Get team details
      security: [{ BearerAuth: [team:read] }]
      parameters:
        - $ref: '#/components/parameters/TeamIdParam'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamResponse'
    put:
      tags: [Teams]
      summary: Update team name
      security: [{ BearerAuth: [team:update] }]
      parameters:
        - $ref: '#/components/parameters/TeamIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string, maxLength: 100 }
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamResponse'

  /teams/{teamId}/members:
    get:
      tags: [Teams]
      summary: List team members
      security: [{ BearerAuth: [team:read] }]
      parameters:
        - $ref: '#/components/parameters/TeamIdParam'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TeamMember'
    post:
      tags: [Teams]
      summary: Add member to team
      security: [{ BearerAuth: [team:update] }]
      parameters:
        - $ref: '#/components/parameters/TeamIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [userId, role]
              properties:
                userId: { type: string, format: uuid }
                role: { type: string, enum: [lead, member] }
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamMember'
        '404': { $ref: '#/components/responses/NotFound' }
    delete:
      tags: [Teams]
      summary: Remove member from team
      security: [{ BearerAuth: [team:update] }]
      parameters:
        - $ref: '#/components/parameters/TeamIdParam'
        - name: userId
          in: query
          required: true
          schema: { type: string, format: uuid }
      responses:
        '204': { description: Removed }

  # ===================== COMPLAINTS =====================
  /complaints:
    get:
      tags: [Complaints]
      summary: Global search and filter complaints
      security: [{ BearerAuth: [complaint:read:all] }]
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
        - name: search
          in: query
          schema: { type: string }
        - name: status
          in: query
          schema:
            type: array
            items:
              $ref: '#/components/schemas/ComplaintStatus'
            style: form
            explode: false
        - name: priority
          in: query
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Priority'
            style: form
            explode: false
        - name: severity
          in: query
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Severity'
            style: form
            explode: false
        - name: product
          in: query
          schema: { type: string, format: uuid }
        - name: team
          in: query
          schema: { type: string, format: uuid }
        - name: agent
          in: query
          schema: { type: string, format: uuid }
        - name: dateFrom
          in: query
          schema: { type: string, format: date-time }
        - name: dateTo
          in: query
          schema: { type: string, format: date-time }
        - name: slaStatus
          in: query
          schema: { type: string, enum: [breached, at_risk, compliant] }
        - $ref: '#/components/parameters/SortParam'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedComplaintsResponse'
    post:
      tags: [Complaints]
      summary: Create a new complaint (triggers auto‑assignment)
      security: [{ BearerAuth: [complaint:create] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ComplaintCreateRequest'
      responses:
        '201':
          description: Complaint created and assigned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComplaintResponse'
        '422': { $ref: '#/components/responses/ValidationError' }

  /complaints/status:
    patch:
      tags: [Complaints]
      summary: Bulk update status for multiple complaints
      security: [{ BearerAuth: [complaint:update:status] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [complaintIds, status]
              properties:
                complaintIds:
                  type: array
                  minItems: 1
                  items: { type: string, format: uuid }
                status:
                  $ref: '#/components/schemas/ComplaintStatus'
                comment: { type: string, maxLength: 500 }
      responses:
        '200':
          description: Bulk update results
          content:
            application/json:
              schema:
                type: object
                properties:
                  updatedCount: { type: integer }
                  failedIds: { type: array, items: { type: string } }
                  errors: { type: array, items: { $ref: '#/components/schemas/ErrorDetail' } }
        '422': { $ref: '#/components/responses/ValidationError' }

  /complaints/{complaintId}:
    get:
      tags: [Complaints]
      summary: Get complaint full details
      security: [{ BearerAuth: [complaint:read:own, complaint:read:all] }]
      parameters:
        - $ref: '#/components/parameters/ComplaintIdParam'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComplaintResponse'
        '404': { $ref: '#/components/responses/NotFound' }
    put:
      tags: [Complaints]
      summary: Update complaint fields (description, priority, severity)
      security: [{ BearerAuth: [complaint:update] }]
      parameters:
        - $ref: '#/components/parameters/ComplaintIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ComplaintUpdateRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComplaintResponse'
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /complaints/{complaintId}/status:
    post:
      tags: [Complaints]
      summary: Change complaint status (single)
      security: [{ BearerAuth: [complaint:update:status] }]
      parameters:
        - $ref: '#/components/parameters/ComplaintIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status: { $ref: '#/components/schemas/ComplaintStatus' }
                comment: { type: string, maxLength: 1000 }
      responses:
        '200':
          description: Status updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComplaintResponse'
        '409': { description: Invalid status transition }
        '422': { $ref: '#/components/responses/ValidationError' }

  /complaints/{complaintId}/assign:
    post:
      tags: [Complaints]
      summary: Manual reassignment (team lead/admin)
      security: [{ BearerAuth: [complaint:reassign] }]
      parameters:
        - $ref: '#/components/parameters/ComplaintIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [teamId, staffId]
              properties:
                teamId: { type: string, format: uuid }
                staffId: { type: string, format: uuid }
                reason: { type: string, maxLength: 200 }
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssignmentResponse'
        '404': { $ref: '#/components/responses/NotFound' }

  /complaints/{complaintId}/escalate:
    post:
      tags: [Complaints]
      summary: Escalate complaint (triggers escalation rules)
      security: [{ BearerAuth: [complaint:escalate] }]
      parameters:
        - $ref: '#/components/parameters/ComplaintIdParam'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                reason: { type: string }
                targetTeamId: { type: string, format: uuid }
      responses:
        '200':
          description: Escalation processed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComplaintResponse'

  /complaints/{complaintId}/resolve:
    post:
      tags: [Complaints]
      summary: Submit resolution details
      security: [{ BearerAuth: [complaint:resolve] }]
      parameters:
        - $ref: '#/components/parameters/ComplaintIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [resolutionNotes]
              properties:
                resolutionNotes: { type: string, maxLength: 2000 }
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComplaintResponse'

  /complaints/{complaintId}/close:
    post:
      tags: [Complaints]
      summary: Close the complaint
      security: [{ BearerAuth: [complaint:close] }]
      parameters:
        - $ref: '#/components/parameters/ComplaintIdParam'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                finalComment: { type: string }
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComplaintResponse'

  /complaints/{complaintId}/reopen:
    post:
      tags: [Complaints]
      summary: Reopen a closed/resolved complaint
      security: [{ BearerAuth: [complaint:reopen] }]
      parameters:
        - $ref: '#/components/parameters/ComplaintIdParam'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                reason: { type: string, maxLength: 500 }
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComplaintResponse'

  /complaints/{complaintId}/comments:
    get:
      tags: [Complaints]
      summary: List comments on complaint
      security: [{ BearerAuth: [complaint:read:own, complaint:read:all] }]
      parameters:
        - $ref: '#/components/parameters/ComplaintIdParam'
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedCommentsResponse'
    post:
      tags: [Complaints]
      summary: Add comment (internal or public)
      security: [{ BearerAuth: [complaint:comment] }]
      parameters:
        - $ref: '#/components/parameters/ComplaintIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [content]
              properties:
                content: { type: string, maxLength: 2000 }
                internal: { type: boolean, default: false }
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentResponse'

  /complaints/{complaintId}/attachments:
    get:
      tags: [Complaints]
      summary: List attachments
      security: [{ BearerAuth: [complaint:read:own, complaint:read:all] }]
      parameters:
        - $ref: '#/components/parameters/ComplaintIdParam'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Attachment'
    post:
      tags: [Complaints]
      summary: Upload attachment
      security: [{ BearerAuth: [complaint:update] }]
      parameters:
        - $ref: '#/components/parameters/ComplaintIdParam'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
                  description: 'Allowed extensions: jpg, png, pdf, docx (max 10 MB)'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Attachment'
        '422': { $ref: '#/components/responses/ValidationError' }

  /complaints/{complaintId}/timeline:
    get:
      tags: [Complaints]
      summary: Unified chronological timeline of all activities
      security: [{ BearerAuth: [complaint:read:own, complaint:read:all] }]
      parameters:
        - $ref: '#/components/parameters/ComplaintIdParam'
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedTimelineResponse'

  /complaints/{complaintId}/assignments:
    get:
      tags: [Complaints]
      summary: Assignment history for complaint
      security: [{ BearerAuth: [audit:read] }]
      parameters:
        - $ref: '#/components/parameters/ComplaintIdParam'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Assignment'

  # ===================== NOTIFICATIONS =====================
  /notifications:
    get:
      tags: [Notifications]
      summary: List user notifications (paginated)
      security: [{ BearerAuth: [] }]
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
        - name: type
          in: query
          schema:
            type: string
            enum: [assignment, escalation, resolution, comment, sla_breach]
        - name: isRead
          in: query
          schema: { type: boolean }
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedNotificationsResponse'

  /notifications/unread:
    get:
      tags: [Notifications]
      summary: Get count of unread notifications
      security: [{ BearerAuth: [] }]
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: true }
                  data:
                    type: object
                    properties:
                      unreadCount: { type: integer }
                      notifications:
                        type: array
                        items:
                          $ref: '#/components/schemas/Notification'

  /notifications/{notificationId}/read:
    patch:
      tags: [Notifications]
      summary: Mark a notification as read
      security: [{ BearerAuth: [] }]
      parameters:
        - name: notificationId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Marked as read
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationResponse'

  /notifications/read-all:
    patch:
      tags: [Notifications]
      summary: Mark all notifications as read
      security: [{ BearerAuth: [] }]
      responses:
        '204': { description: All marked as read }

  # ===================== DASHBOARDS =====================
  /dashboard/overview:
    get:
      tags: [Dashboard]
      summary: Overall KPI summary
      security: [{ BearerAuth: [dashboard:executive] }]
      parameters:
        - name: dateFrom
          in: query
          schema: { type: string, format: date-time }
        - name: dateTo
          in: query
          schema: { type: string, format: date-time }
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardOverviewResponse'

  /dashboard/staff/{staffId}:
    get:
      tags: [Dashboard]
      summary: Staff metrics
      security: [{ BearerAuth: [dashboard:staff] }]
      parameters:
        - $ref: '#/components/parameters/StaffIdParam'
        - $ref: '#/components/parameters/DateRangeParams'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StaffMetricsResponse'

  /dashboard/team/{teamId}:
    get:
      tags: [Dashboard]
      summary: Team metrics
      security: [{ BearerAuth: [dashboard:team] }]
      parameters:
        - $ref: '#/components/parameters/TeamIdParam'
        - $ref: '#/components/parameters/DateRangeParams'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamMetricsResponse'

  /dashboard/product/{productId}:
    get:
      tags: [Dashboard]
      summary: Product analytics
      security: [{ BearerAuth: [dashboard:product] }]
      parameters:
        - $ref: '#/components/parameters/ProductIdParam'
        - $ref: '#/components/parameters/DateRangeParams'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductMetricsResponse'

  /dashboard/executive:
    get:
      tags: [Dashboard]
      summary: Executive KPI dashboard
      security: [{ BearerAuth: [dashboard:executive] }]
      parameters:
        - $ref: '#/components/parameters/DateRangeParams'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecutiveDashboardResponse'

  # ===================== ANALYTICS =====================
  /analytics/staff-performance:
    get:
      tags: [Analytics]
      summary: Aggregated staff performance across all agents
      security: [{ BearerAuth: [dashboard:staff] }]
      parameters:
        - $ref: '#/components/parameters/DateRangeParams'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StaffMetrics'

  /analytics/team-performance:
    get:
      tags: [Analytics]
      summary: Aggregated team performance
      security: [{ BearerAuth: [dashboard:team] }]
      parameters:
        - $ref: '#/components/parameters/DateRangeParams'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TeamMetrics'

  /analytics/product-performance:
    get:
      tags: [Analytics]
      summary: Product performance across all products
      security: [{ BearerAuth: [dashboard:product] }]
      parameters:
        - $ref: '#/components/parameters/DateRangeParams'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProductMetrics'

  # ===================== SYSTEM =====================
  /system/settings:
    get:
      tags: [System]
      summary: Retrieve system settings
      security: [{ BearerAuth: [system:settings] }]
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: true }
                  data:
                    type: object
                    additionalProperties: true
    put:
      tags: [System]
      summary: Update system settings
      security: [{ BearerAuth: [system:settings] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: true }
                  data:
                    type: object
                    additionalProperties: true

  # ===================== WEBHOOKS =====================
  /webhooks/subscriptions:
    get:
      tags: [Webhooks]
      summary: List webhook subscriptions
      security: [{ BearerAuth: [webhook:manage] }]
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WebhookSubscription'
    post:
      tags: [Webhooks]
      summary: Register a webhook subscription
      security: [{ BearerAuth: [webhook:manage] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [url, events]
              properties:
                url: { type: string, format: uri }
                events:
                  type: array
                  minItems: 1
                  items: { $ref: '#/components/schemas/WebhookEventType' }
                secret: { type: string }
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookSubscription'

  /webhooks/subscriptions/{subscriptionId}:
    delete:
      tags: [Webhooks]
      summary: Delete webhook subscription
      security: [{ BearerAuth: [webhook:manage] }]
      parameters:
        - name: subscriptionId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '204': { description: Deleted }

# ===================== COMPONENTS =====================
components:
  securitySchemes:
    BearerAuth:
      type: oauth2
      flows:
        password:
          tokenUrl: /api/v1/auth/login
          refreshUrl: /api/v1/auth/refresh
          scopes:
            complaint:create: 'Create complaints'
            complaint:read:own: 'View own complaints'
            complaint:read:all: 'View all complaints'
            complaint:update: 'Update complaint fields'
            complaint:update:status: 'Change ticket status'
            complaint:reassign: 'Reassign tickets'
            complaint:escalate: 'Escalate complaints'
            complaint:resolve: 'Submit resolution'
            complaint:close: 'Close tickets'
            complaint:reopen: 'Reopen tickets'
            complaint:comment: 'Add comments'
            product:create: 'Create products'
            product:read: 'Read product data'
            product:update: 'Update products'
            product:delete: 'Delete products'
            team:create: 'Create teams'
            team:read: 'Read team data'
            team:update: 'Update teams'
            dashboard:staff: 'View staff dashboard'
            dashboard:team: 'View team dashboard'
            dashboard:product: 'View product dashboard'
            dashboard:executive: 'View executive dashboard'
            audit:read: 'Read audit logs'
            webhook:manage: 'Manage webhook subscriptions'
            user:read: 'Read user data'
            user:update: 'Update users'
            user:delete: 'Delete users'
            user:manage: 'Manage user roles'
            role:read: 'Read roles'
            role:create: 'Create roles'
            role:update: 'Update roles'
            role:delete: 'Delete roles'
            permission:read: 'Read permissions'
            permission:create: 'Create permissions'
            system:settings: 'Manage system settings'

  parameters:
    PageParam:
      name: page
      in: query
      schema: { type: integer, minimum: 1, default: 1 }
    PageSizeParam:
      name: pageSize
      in: query
      schema: { type: integer, minimum: 1, maximum: 100, default: 20 }
    SortParam:
      name: sort
      in: query
      description: 'Sort field(s) prefixed with + (asc) or - (desc), comma separated'
      schema: { type: string, example: '-createdAt,+priority' }
    DateRangeParams:
      name: dateFrom
      in: query
      schema: { type: string, format: date-time }
      name: dateTo
      in: query
      schema: { type: string, format: date-time }
    UserIdParam:
      name: userId
      in: path
      required: true
      schema: { type: string, format: uuid }
    RoleIdParam:
      name: roleId
      in: path
      required: true
      schema: { type: string, format: uuid }
    ProductIdParam:
      name: productId
      in: path
      required: true
      schema: { type: string, format: uuid }
    TeamIdParam:
      name: teamId
      in: path
      required: true
      schema: { type: string, format: uuid }
    ComplaintIdParam:
      name: complaintId
      in: path
      required: true
      schema: { type: string, format: uuid }
    StaffIdParam:
      name: staffId
      in: path
      required: true
      schema: { type: string, format: uuid }

  responses:
    Unauthorized:
      description: Authentication failed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Forbidden:
      description: Insufficient permissions
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Conflict:
      description: Resource conflict
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    ValidationError:
      description: Validation failed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ValidationErrorResponse'

  schemas:
    # ---------- Envelopes ----------
    ApiResponse:
      type: object
      properties:
        success: { type: boolean, example: true }
    PaginationMeta:
      type: object
      properties:
        page: { type: integer }
        pageSize: { type: integer }
        totalItems: { type: integer }
        totalPages: { type: integer }

    # ---------- Error ----------
    ErrorDetail:
      type: object
      properties:
        code: { type: string }
        message: { type: string }
        traceId: { type: string }
    ErrorResponse:
      type: object
      properties:
        success: { type: boolean, example: false }
        error: { $ref: '#/components/schemas/ErrorDetail' }
    ValidationErrorResponse:
      type: object
      properties:
        success: { type: boolean, example: false }
        error:
          type: object
          properties:
            code: { type: string, example: 'VALIDATION_ERROR' }
            message: { type: string }
            details:
              type: array
              items:
                type: object
                properties:
                  field: { type: string }
                  message: { type: string }
                  constraint: { type: string }

    # ---------- Auth ----------
    TokenResponse:
      type: object
      properties:
        success: { type: boolean, example: true }
        data:
          type: object
          properties:
            accessToken: { type: string }
            refreshToken: { type: string }
            expiresIn: { type: integer }
            tokenType: { type: string, example: 'Bearer' }
    UserRegisteredResponse:
      type: object
      properties:
        success: { type: boolean, example: true }
        data:
          type: object
          properties:
            userId: { type: string, format: uuid }
            email: { type: string, format: email }
            message: { type: string, example: 'Registration successful. Please log in.' }

    # ---------- Users ----------
    User:
      type: object
      properties:
        id: { type: string, format: uuid }
        email: { type: string, format: email }
        name: { type: string }
        isActive: { type: boolean }
        roles: { type: array, items: { type: string } }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
    UserResponse:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties:
            data: { $ref: '#/components/schemas/User' }
    PaginatedUsersResponse:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties:
            data:
              type: array
              items: { $ref: '#/components/schemas/User' }
            meta: { $ref: '#/components/schemas/PaginationMeta' }

    # ---------- Roles ----------
    Role:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        permissions: { type: array, items: { type: string } }
    RoleResponse:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties:
            data: { $ref: '#/components/schemas/Role' }
    PaginatedRolesResponse:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties:
            data:
              type: array
              items: { $ref: '#/components/schemas/Role' }
            meta: { $ref: '#/components/schemas/PaginationMeta' }

    # ---------- Permissions ----------
    Permission:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
    PermissionResponse:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties:
            data: { $ref: '#/components/schemas/Permission' }
    PaginatedPermissionsResponse:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties:
            data:
              type: array
              items: { $ref: '#/components/schemas/Permission' }
            meta: { $ref: '#/components/schemas/PaginationMeta' }

    # ---------- Products ----------
    Product:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        description: { type: string }
        status: { type: string, enum: [active, inactive] }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
    ProductCreateRequest:
      type: object
      required: [name]
      properties:
        name: { type: string, maxLength: 100 }
        description: { type: string, maxLength: 500 }
        status: { type: string, enum: [active, inactive], default: active }
    ProductUpdateRequest:
      type: object
      properties:
        name: { type: string, maxLength: 100 }
        description: { type: string, maxLength: 500 }
        status: { type: string, enum: [active, inactive] }
    ProductResponse:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties:
            data: { $ref: '#/components/schemas/Product' }
    PaginatedProductsResponse:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties:
            data:
              type: array
              items: { $ref: '#/components/schemas/Product' }
            meta: { $ref: '#/components/schemas/PaginationMeta' }
    ProductCategory:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
    SLARule:
      type: object
      properties:
        id: { type: string, format: uuid }
        severity: { $ref: '#/components/schemas/Severity' }
        priority: { $ref: '#/components/schemas/Priority' }
        firstResponseTimeMinutes: { type: integer }
        resolutionTimeMinutes: { type: integer }
    ProductTeamMapping:
      type: object
      properties:
        teamId: { type: string, format: uuid }
        teamName: { type: string }
        isPrimary: { type: boolean }
        loadWeight: { type: number }

    # ---------- Teams ----------
    Team:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
    TeamResponse:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties:
            data: { $ref: '#/components/schemas/Team' }
    PaginatedTeamsResponse:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties:
            data:
              type: array
              items: { $ref: '#/components/schemas/Team' }
            meta: { $ref: '#/components/schemas/PaginationMeta' }
    TeamMember:
      type: object
      properties:
        userId: { type: string, format: uuid }
        userName: { type: string }
        role: { type: string, enum: [lead, member] }

    # ---------- Complaints ----------
    Priority:
      type: string
      enum: [low, medium, high, critical]
    Severity:
      type: string
      enum: [minor, major, critical]
    ComplaintStatus:
      type: string
      enum: [open, assigned, in_progress, waiting_for_customer, resolved, reopened, closed, escalated]
    Complaint:
      type: object
      properties:
        id: { type: string, format: uuid }
        ticketNumber: { type: string }
        userId: { type: string, format: uuid }
        product: { $ref: '#/components/schemas/Product' }
        category: { type: string }
        priority: { $ref: '#/components/schemas/Priority' }
        severity: { $ref: '#/components/schemas/Severity' }
        description: { type: string }
        assignedTeam: { $ref: '#/components/schemas/Team' }
        assignedStaff: { type: object, properties: { id: { type: string }, name: { type: string } } }
        currentStatus: { $ref: '#/components/schemas/ComplaintStatus' }
        resolutionNotes: { type: string }
        slaFirstResponseDeadline: { type: string, format: date-time }
        slaResolutionDeadline: { type: string, format: date-time }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
        closedAt: { type: string, format: date-time, nullable: true }
    ComplaintCreateRequest:
      type: object
      required: [productId, category, priority, severity, description]
      properties:
        productId: { type: string, format: uuid }
        category: { type: string }
        priority: { $ref: '#/components/schemas/Priority' }
        severity: { $ref: '#/components/schemas/Severity' }
        description: { type: string, minLength: 20, maxLength: 5000 }
    ComplaintUpdateRequest:
      type: object
      properties:
        priority: { $ref: '#/components/schemas/Priority' }
        severity: { $ref: '#/components/schemas/Severity' }
        description: { type: string, maxLength: 5000 }
        category: { type: string }
    ComplaintResponse:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties:
            data: { $ref: '#/components/schemas/Complaint' }
    PaginatedComplaintsResponse:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties:
            data:
              type: array
              items: { $ref: '#/components/schemas/Complaint' }
            meta: { $ref: '#/components/schemas/PaginationMeta' }

    # ---------- Comments ----------
    Comment:
      type: object
      properties:
        id: { type: string, format: uuid }
        userId: { type: string }
        userName: { type: string }
        content: { type: string }
        internal: { type: boolean }
        createdAt: { type: string, format: date-time }
    CommentResponse:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties:
            data: { $ref: '#/components/schemas/Comment' }
    PaginatedCommentsResponse:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties:
            data:
              type: array
              items: { $ref: '#/components/schemas/Comment' }
            meta: { $ref: '#/components/schemas/PaginationMeta' }

    # ---------- Attachments ----------
    Attachment:
      type: object
      properties:
        id: { type: string, format: uuid }
        fileName: { type: string }
        fileUrl: { type: string, format: uri }
        uploadedBy: { type: string, format: uuid }
        uploadedAt: { type: string, format: date-time }

    # ---------- Assignment ----------
    Assignment:
      type: object
      properties:
        id: { type: string, format: uuid }
        complaintId: { type: string, format: uuid }
        teamId: { type: string, format: uuid }
        staffId: { type: string, format: uuid, nullable: true }
        assignedBy: { type: string, enum: [system, lead, admin] }
        reason: { type: string }
        createdAt: { type: string, format: date-time }
    AssignmentResponse:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties:
            data: { $ref: '#/components/schemas/Assignment' }

    # ---------- Timeline ----------
    TimelineEvent:
      type: object
      properties:
        id: { type: string, format: uuid }
        eventType: { type: string, enum: [status_change, assignment, comment, escalation, resolution, attachment] }
        actorId: { type: string, format: uuid }
        actorName: { type: string }
        eventData: { type: object }
        timestamp: { type: string, format: date-time }
    PaginatedTimelineResponse:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties:
            data:
              type: array
              items: { $ref: '#/components/schemas/TimelineEvent' }
            meta: { $ref: '#/components/schemas/PaginationMeta' }

    # ---------- Notifications ----------
    Notification:
      type: object
      properties:
        id: { type: string, format: uuid }
        title: { type: string }
        message: { type: string }
        isRead: { type: boolean }
        notificationType: { type: string, enum: [assignment, escalation, resolution, comment, sla_breach] }
        referenceId: { type: string, format: uuid, nullable: true }
        createdAt: { type: string, format: date-time }
    NotificationResponse:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties:
            data: { $ref: '#/components/schemas/Notification' }
    PaginatedNotificationsResponse:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties:
            data:
              type: array
              items: { $ref: '#/components/schemas/Notification' }
            meta: { $ref: '#/components/schemas/PaginationMeta' }

    # ---------- Dashboards ----------
    DashboardOverviewResponse:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties:
            data:
              type: object
              properties:
                totalComplaints: { type: integer }
                openComplaints: { type: integer }
                resolvedComplaints: { type: integer }
                closedComplaints: { type: integer }
                slaBreaches: { type: integer }
                averageResolutionTimeHours: { type: number }
                resolutionRate: { type: number }

    StaffMetrics:
      type: object
      properties:
        staffId: { type: string, format: uuid }
        staffName: { type: string }
        totalAssigned: { type: integer }
        completed: { type: integer }
        pending: { type: integer }
        reopened: { type: integer }
        escalated: { type: integer }
        avgResolutionTimeHours: { type: number }
        avgFirstResponseTimeMinutes: { type: number }
        productivityScore: { type: number }
    StaffMetricsResponse:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties:
            data: { $ref: '#/components/schemas/StaffMetrics' }

    TeamMetrics:
      type: object
      properties:
        teamId: { type: string, format: uuid }
        teamName: { type: string }
        workload: { type: integer, description: 'Total open complaints' }
        backlog: { type: integer, description: 'Open complaints older than 30 days' }
        resolutionRate: { type: number }
        slaCompliance: { type: number }
        avgResolutionTimeHours: { type: number }
    TeamMetricsResponse:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties:
            data: { $ref: '#/components/schemas/TeamMetrics' }

    ProductMetrics:
      type: object
      properties:
        productId: { type: string, format: uuid }
        productName: { type: string }
        totalComplaints: { type: integer }
        categoryBreakdown: { type: object, additionalProperties: { type: integer } }
        frequentIssues:
          type: array
          items:
            type: object
            properties:
              issue: { type: string }
              count: { type: integer }
        slaViolationRate: { type: number }
        resolutionTrend:
          type: array
          items:
            type: object
            properties:
              period: { type: string }
              count: { type: integer }
    ProductMetricsResponse:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties:
            data: { $ref: '#/components/schemas/ProductMetrics' }

    ExecutiveDashboardResponse:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties:
            data:
              type: object
              properties:
                totalTickets: { type: integer }
                openTickets: { type: integer }
                resolvedToday: { type: integer }
                slaBreached: { type: integer }
                avgResolutionTime: { type: number }
                topTeams:
                  type: array
                  items: { $ref: '#/components/schemas/TeamMetrics' }
                topStaff:
                  type: array
                  items: { $ref: '#/components/schemas/StaffMetrics' }

    # ---------- Webhooks ----------
    WebhookEventType:
      type: string
      enum: [complaint.created, complaint.assigned, complaint.status_changed, complaint.sla_breached]
    WebhookSubscription:
      type: object
      properties:
        id: { type: string, format: uuid }
        url: { type: string, format: uri }
        events:
          type: array
          items: { $ref: '#/components/schemas/WebhookEventType' }
        secret: { type: string }
        createdAt: { type: string, format: date-time }

  examples:
    TokenResponseExample:
      value:
        success: true
        data:
          accessToken: 'eyJhbGciOiJIUzI1NiIs...'
          refreshToken: 'dGhpcyBpcyBh...'
          expiresIn: 3600
          tokenType: 'Bearer'
    ComplaintExample:
      value:
        success: true
        data:
          id: 'c56a4180-65aa-42ec-a945-5fd21dec0501'
          ticketNumber: 'TKT-20260315-0042'
          userId: '3fa85f64-5717-4562-b3fc-2c963f66afa6'
          product:
            id: 'b1a2b3c4-...'
            name: 'Cloud Console'
          category: 'Login Issues'
          priority: 'high'
          severity: 'major'
          description: 'Unable to login after password reset'
          assignedTeam:
            id: '...'
            name: 'Cloud Support'
          assignedStaff:
            id: '...'
            name: 'John Doe'
          currentStatus: 'assigned'
          createdAt: '2026-03-15T08:30:00Z'